@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=divice-width" />
    <title>Пользователи</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Home"))
        {
            <button name="action" value="Users">Пользователи</button>
            <button name="action" value="Award">Награды</button>
            <button name="action" value="File">Скачать список пользователей</button>
        }
    </div>
</body>
</html>