@model User
@{
    ViewBag.Title = "Rewarding";
}

<h2>Rewarding</h2>
@using (Html.BeginForm())
{

    @Html.DropDownList("id_award", ViewBag.Awards as SelectList)
    
    @Html.Hidden("id_user", ViewBag.Userid as string)
    
    <p><input type="submit" value="Наградить" /></p>
}
